.buyerotp {
    width: 48%;
    min-height: 43.2rem;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
    margin: 2rem auto;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;

	.buyerotp_box {
		width: 36.2rem;
		padding: 1.5rem 3.5rem 2rem 3.5rem;
		text-align: center;

		background: #ffffff;
		border-radius: 1rem;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

		// border: 0.1rem solid #c4c4c4;
		.buyerotp_logo {
			margin-bottom: 2rem;

			.buyerotp_name {
				font-size: 3.2rem;
			}
		}

		.buyerotp_para {
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 2.2rem;
			margin-bottom: 3.3rem;
		}

		.buyerotp-email {
			font-size: 1.4rem;
			margin-bottom: 1rem;
			color: red;

			input {
				z-index: 5;
				width: 100%;
				height: 4rem;
				outline: none;
				color: #0a033c;
				padding: 0rem 1.8rem;
				background: #ffffff;
				border-radius: 0.5rem;
				// border: 1px solid #c4c4c4;
				margin-bottom: 1.8rem;
				display: block;
				border: 0.2rem solid #e1ebee;
				border-bottom: 0.2rem solid #a5a5a5;
			}
		}

		.buyerotp-btn {
			display: flex;
			justify-content: space-between;
			margin-bottom: 3rem;
		}

		.buyerotp_resend {
			.buyerotp_resend_click {
				font-weight: 400;
				font-size: 1.2rem;
				line-height: 1.5rem;
				color: #0a033c;
			}

			.buyerotp_clickResend {
				font-weight: 500;
				font-size: 1.2rem;
				line-height: 1.4rem;
				color: #404dbf;
				cursor: pointer;
			}
		}
	}
}