.footer {
  // height: 29.7rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #262626;
  padding: 3rem;

  .foot {
    // display: flex;

    width: 90%;

    .foot_head {
      font-size: 3.6rem;
      text-align: center;
      margin-bottom: 1rem;
      color: #fff;
    }

    .foot_sect {
      display: flex;
      justify-content: space-between;
      .foot_col_1 {
        width: 30%;
        .foot_title {
          font-size: 2.1rem;
          font-weight: 600;
          margin-bottom: 1.2rem;
          color: #fff;
        }
        .foot_items {
          list-style: none;
          .foot_item {
            font-size: 1.7rem;
            text-decoration: none;
            margin-bottom: .5rem;
            a {
              text-decoration: none;
              color: #c6c6c6;
            }
            .foot_item_text {
              text-decoration: none;
              color: #c6c6c6;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.copyright_sect {
  width: 100%;
  height: auto;
  background: #1e1e1e;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  .copyright {
    .copyright_head {
      font-size: 1.6rem;
      // font-weight: 500;
      text-align: center;
      color: #c6c6c6;
    }
  }
}
