
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ############################## html element styling ##############################*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
}

.error {
  color: red;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
