// Media Queries

//  Computers and Laptops

.policy {
  width: 85%;
  margin: 4rem auto;

  .policy_title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  .policy_para {
    font-size: 1.6rem;
    margin-bottom: 1.3rem;
  }
  .policy_head {
    font-size: 2rem;
    margin-bottom: 1.3rem;
    font-weight: 500;
  }
}